[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4.0"
django-on-heroku = "*"
gunicorn = "*"
argon2-cffi = "*"  
boto3 = "*"
celery = "*"  
dj-database-url = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
django-anymail = {extras = ["mailgun", "sendgrid", "sparkpost"], version = "*"}
django-celery-beat = "*"
django-celery-results = "*"
django-cors-headers = "*"
django-environ = "*"
django-filter = "*"
django-oauth-toolkit = "*"
django-rest-knox = "*"
django-storages = "*"
djangorestframework = "*"
djangorestframework-gis = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
drf-social-oauth2 = "*"
fusionauth-client = "*"
psycopg2-binary = "*"

[dev-packages]
factory-boy = "*"
pytest = "*"
pytest-django = "*"
pytest-html = "*"
yapf = "*"

[requires]
python_version = "3.8"
