[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4.0"
django-on-heroku = "*"
gunicorn = "*"
argon2-cffi = "*"  
celery = "*"  
dj-database-url = "*"
django-celery-beat = "*"
django-celery-results = "*"
django-environ = "*"
django-oauth-toolkit = "*"
djangorestframework = "*"
djangorestframework-gis = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
fusionauth-client = "*"
psycopg2-binary = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}

[dev-packages]
factory-boy = "*"
pytest = "*"
pytest-html = "*"
yapf = "*"

[requires]
python_version = "3.8"
