{% extends 'admin/change_list.html' %}

{# custom template to add .import_csv function to admin #}

{% block object-tools %}
<h3>
    <a href="import-csv/" class="addLink">Import CSV</a>
</h3>
<h4>
    (source DataType spreadsheet is <a
        href="https://istitutoboella.sharepoint.com/:x:/r/sites/ProjectSAFERS/_layouts/15/doc2.aspx?action=view&sourcedoc=%7B612032c4-6df6-4b71-9e96-5810ccf23dbf%7D&wdOrigin=TEAMS-WEB.teamsSdk.openFilePreview&wdExp=TEAMS-CONTROL&wdhostclicktime=1654530406061&cid=0178b4a2-9f3b-4e76-873f-2a6319ee08de">here</a>.)
</h4>

{{ block.super }}
{% endblock %}