{% extends 'admin/change_list.html' %}

{# custom template to add .import_csv function to admin #}

{% block object-tools %}
<h3>
    <a href="import-csv/" class="addLink">Import CSV</a>
</h3>
<h4>
    (source DataType spreadsheet is
    <a
        href="https://istitutoboella.sharepoint.com/:x:/r/sites/ProjectSAFERS/Documenti%20condivisi/WP4/T4.4%20-%20Geodata%20repository/importer_mapper/datamappingform_imp.xlsx?d=wcb97483f5f2a473ab5d8ea7de982e5bf&csf=1&web=1&e=E8MjmJ">
        here
    </a>
    .)
</h4>

{{ block.super }}
{% endblock %}
