{% extends "admin/base_site.html" %}

{% load static %}

{% block extrastyle %}
<!-- extra style goes here -->
<style>
    #description {
        border: 2px solid #ccc;
        display: inline-block;
        margin-bottom: 1rem;
        padding: 4px;
    }

</style>
{% endblock %}

{% block content %}

<h1>
    Please select the file to import.
</h1>

<div id="description">
    {{ description }}
</div>

<form action="." method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    {{ form.as_p }}

    <p>
        <input type="submit" name="apply" value="Import" />
    </p>

</form>

{% endblock %}
